/* 
    CS_4320
    Group 11
    Project 2
    2024
*/

.group11-nav {
    width: 700px;
    justify-content: left !important;
    flex-wrap:wrap;
}

.hero {
    background-image: url("/Content/img/gaetano-cessati-LOZKj-x6gDo-unsplash.jpg");
    background-size: cover;
    height: 800px;
}

.hero-text {
    color: wheat;
    margin: 200px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 500px;
    border-radius: 9px;
}

.hero-text h1{
    font-size: 70px;
}

.hero-text p {
    font-size: 25px;
}

footer {
    text-align: center;
}

.btn-submit-blue {
    background: rgb(22, 80, 172);
    color: white;
}

.admin-menu {
    color: white;
    display:flex;
    flex-wrap: wrap;
}

.admin-menu-link {
    height: 70px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 9px;
}

.menu-img {
    width:300px;
}

.menu-card {
    width: 314px;
    height: 214px;
    border: solid 7px rgb(85 67 19);
    background-color: rgba(255, 255, 255);
    border-radius: 9px;
    transition: transform .2s;
    color: white;
    font-size: 30px;
    display: flex;
}

.card1 {
    background-image: url("img/parker-burchfield-tvG4WvjgsEY-unsplash.jpg");
    background-size:cover;
}

.card2 {
    background-image: url("img/harprit-bola-HmREZuu4XuY-unsplash.jpg");
    background-size: cover;
}

.card3 {
    background-image: url("img/volodymyr-hryshchenko-V5vqWC9gyEU-unsplash.jpg");
    background-size: cover;
}
.card4 {
    background-image: url("img/aaron-burden-xG8IQMqMITM-unsplash.jpg");
    background-size: cover;
}

.menu-container {
    height: 214px;
    display: flex;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.menu-link {
    transition: transform .2s;
    text-decoration:none
}

.menu-card:hover {
    transform: scale(1.01);
}

.menu-text {
    text-align: center;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    border-radius: 7px;
}