@model IEnumerable<Group11_iCLOTHINGApp.Models.CUSTOMER>

@{
    ViewBag.Title = "Index";
}

<h2>Check out</h2>

@using (Html.BeginForm("Submit", "paymentInfo", FormMethod.Post))
{

    <div>
        <label class="form-label">Cardholder Name:</label>
        <input class="form-control" type="text" id="name" name="name" required />
    </div>
    <div>
        <label class="form-label">Card number:</label>
        <input class="form-control" type="number" id="cardnumber" name="cardnumber" required />
    </div>
    <div>
        <label class="form-label">Expiry date: ("MM/YY")</label>
        <input class="form-control" type="text" id="expiry" name="expiry" required />
    </div>
    <div>
        <label class="form-label">CVV:</label>
        <input class="form-control" type="number" id="cvv" name="cvv" required />
    </div>
    <div>
        <label class="form-label">Shipping Address ("Street, City, State")</label>
        <input class="form-control" type="text" id="saddress" name="saddress" required />
    </div>
    <div>
        <label class="form-label">Billing Address ("Street, City, State")</label>
        <input class="form-control" type="text" id="baddress" name="baddress" required />
    </div>
    <button class="btn btn-secondary" type="submit">Submit payment</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
