@{
    Layout = null;
}

<h1>Thank you for shopping with iClothing!</h1>
<p>Your order has successfully gone through and your product will be with you shortly!</p>
<p>@Html.ActionLink("Return to home", "Index", "home")</p>