@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row hero" aria-labelledby="aspnetTitle">
        <div class="hero-text">
            <h1 id="title">iCLOTHING</h1>
            <p class="lead">Your style. Your way.</p>
            <p>@Session["idUsSS"]</p>
        </div>
    </section>
    <p style="font-size:10px;">Image courtesy of Gaetano Cessati - Unsplash</p>
</main>